#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;          
  z-index: 1000;        
}

#nav-bar {
  list-style: none;
  margin: 0;
  padding: 0;           
  display: flex;
  background-color: black;
}

#nav-bar li {
  margin: 0;
}

#nav-bar a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

#nav-bar a:hover {
  background-color: gray;
}
