#menu-bar {
  position: fixed;
  top: 0;
  right: 50;
  left: 50;
}
#nav-bar {
  list-style: none;
  margin: 0;
  padding: 5;
  display: flex;
  background-color: black;
}
#nav-bar li {
  margin: 0;
}
#nav-bar a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
#nav-bar a:hover {
  background-color: gray;
}
