#menu-bar {
  position: fixed;
  top: 0;
  right: 0
}
#menu {
  list-style: none;
  margin: 0;
  padding: 5;
  display: flex;
  background-color: black;
}
#menu li {
  margin: 0;
}
#menu a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}
#menu a:hover {
  background-color: gray;
}
